<html>

    <head>
        <title>
            <%= title %>
        </title>

        <link rel="stylesheet" href="/assets/css/home.css">\
        <script src="https://kit.fontawesome.com/cc26b0a284.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <div id="main-container">

            <header id="main-heading">
                <h1> TODO App </h1>
            </header>

            <section id="form-section">
                <form action="/add-task" method="POST">
                    <div id="descriptionContainer">
                        <h4> DESCRIPTION </h4>
                        <textarea rows="2" cols="40" name="task" placeholder="What do you need to do?" required> </textarea>
                    </div>

                    <div id="categoryAndDueDateContainer">
                        <div id="categoryContainer">
                            <h4> CATEGORY </h4>
                            <select name="category" required>
                                <option value="" selected> Choose A category </option>
                                <option value="Personal"> Personal </option>
                                <option value="Work"> Work </option>
                                <option value="Meeting"> Meeting </option>
                                <option value="Home"> Home </option>
                            </select>
                        </div>

                        <div id="duedate">
                            <h4> DUE DATE </h4>
                            <input type="date" name="date" required>
                        </div>
                    </div>
                </form>
            </section>

            <section id="addAndDelBtn">
                <div id="add_btn_container" class="styleForBtn">
                    <button id="add_btn" type="submit">
                        <i class="fas fa-plus"></i>
                        ADD TASK
                    </button>
                </div>

                <div id="del_btn_container" class="styleForBtn">
                    <button id="del" type="submit" form="myform">
                        <i class="fas fa-trash-alt"></i>
                        DELETE TASK
                    </button>
                </div>
            </section>

            <section id="checkbox">
                 
                <% for(let i of task_list){ %>
                <form id="myform" action="/delete-task/?id=<%=i._id%>" method="POST">
                    <div class="task-container">
                        <input type="checkbox" class="check" name="task">
                        <div class="task-date">
                            <div class="task">
                                <%= i.task %>
                            </div>
                            <div class="date-label">
                                <i class="fas fa-calendar-alt"></i>
                                <%=i.date%>
                            </div>
                        </div>

                        <div class="category-label-container">
                            <%= i.category %>
                        </div>
                    </div>
                </form>
                <% } %>
            </section>
        </div>
        <script type="text/javascript" src="/assets/js/script.js"></script>
    </body>
</html>

